//.form-container {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  margin: auto;
//  background: gray;
//  padding: 30px;
//  width: 50%;
//  border-radius: 10px;
//}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #F7F7FC;
  //width: 60%;
  padding: 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  //margin-bottom: 20px;
  //margin-top: 50px;
}

.from-header {
  font-size: 1.5em;
  text-align: center;
  margin: 5px 0 20px 0;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  background: white;
  border: none;
  margin: 0 0 20px 0;
  font-size: 14px;
}

textarea {
  height: 5em;
}

label {
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;
}

.form-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  flex-wrap: wrap;
}

.test-case {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 48%;
}

.form-section-1 textarea {
  display: inline-flex;
  width: 95%;
  height: 3em;
}

.form-section-1 label {
  display: inline-flex;
  width: 100%;
  gap: 10px;
}

.test-result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 48%;
}

.remove-testcase {
  padding: 5px 20px;
  border-radius: 5px;
  background: none;
  border: 1px solid #5541D7;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 400;


}

.remove-testcase:hover {
  background-color: #DBD7F4;
}

.add-testcase {
  padding: 10px 10px;
  border-radius: 5px;
  background: #5541D7;
  border: 1px solid #DBD7F4;
  cursor: pointer;
  margin-bottom: 20px;
  width: 30%;
  color: white;
}

.add-testcase:hover {
  box-shadow: 1px 3px 1px #9E9E9E;
}

.form-section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 65%;
}

.form-category object {
  width: 100%;
  border-radius: 70%;
  object-fit: cover;
  border: 1px solid #DBD7F4;
}

.form-difficulty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 30%;
}

.form-section-2 select {
  padding: 10px;
  border-radius: 5px;
  background: white;
  border: none;
  margin: 0 0 20px 0;
  width: 100%;
  color: #DBD7F4;
}

.form-buttons {
  display: flex;
  justify-content: end;
}

.form-buttons button {
  padding: 10px 20px;
  border-radius: 10px;
  background: none;
  border: 2px solid #5541D7;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 20px 20px;
  color: #5541D7;
}

.form-buttons .submit-btn {
  background-color: #5541D7;
  color: white;
}

.form-buttons button:hover {
  box-shadow: 1px 3px 1px #9E9E9E;
}

.form-section-testcase-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #DBD7F4;
}

.form-section-testcase-2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.basic-multi-select {
  width: 100%;
  border: none;
}
.basic-single-select {
  width: 100%;
  border: none;
}




