.forgot-container {
    display: flex;
}

.forgot-left-panel {
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: flex-start;
    justify-items: start;
    background-color: white;
}

.forgot-right-panel {
    flex: 5;
    align-items: center;
    justify-content: center;
    background-color: #E2E2EA;
    display: flex;
}

.forgot-deco {
    width: 60%;
}

.forgot-panel-main-title {
    text-align: left;
    color: black;
    font-size: 30px !important;
    font-weight: 500 !important;
}

.forgot-panel-text-field {
    margin: 0px 64px 32px 0px !important;
    background-color: #f8fdff;
    div {
        border-radius: 8px !important;
    }
}

.forgot-panel-main-button {
    background-color: #5541D7 !important;
    width: 160px;
    right: 0px !important;
    margin-bottom: 320px !important;
}

.forgot-button-back-inline{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.forgot-panel-title {
    text-align: left;
    color: black;
    font-size: 30px !important;
    font-weight: 500 !important;
    padding: 30px;

}
.from-forgot-panel {
    background-color: white;
}

