.forgot-container {
    text-align: center;
    display: flex;
}

.forgot-left-panel {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 48px 0px 0px 96px;
}

.forgot-right-panel {
    flex: 5;
    align-items: center;
    justify-content: center;
    background-color: white;
    display: flex;
}

.forgot-deco {
    width: 60%;
}

.forgot-panel-main-title {
    text-align: left;
    color: black;
    font-size: 30px !important;
    font-weight: bold;
}

.forgot-panel-text-field {
    margin: 0px 64px 32px 0px !important;
    background-color: #f8fdff;
    div {
        border-radius: 8px !important;
    }
}

.forgot-panel-main-button {
    background-color: #5541D7 !important;
    width: 160px;
    right: 0px !important;
    margin-bottom: 320px !important;
}
